@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body, html{
    background-color: #d6d4e3;
}

.container{
    max-width: 300px;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 5rem;
    background-color: #fff;
    box-shadow: 1px  10px 30px black;
    animation: flutuar 3s ease infinite;
}

@keyframes flutuar{
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

.imagem img{
    width: 100%;
}
.titulo{
    font-size: 1.0em;
    max-width: 200px;
    margin-left: 1.8rem;
}

.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.perfil p{
    color: #18161f;
    font-weight: 600;
}
.perfil p span {
    color: grey;
    font-size: 75%;
    margin-left: 1rem;
}

.comentarios{
    display: flex;
    margin-left: 1.9rem;
    gap: 8rem;
    margin-top: 1rem;
    height: 10vh;
}

.comentario, .visualiza{
    display: flex;
    align-items: center;
    justify-content: center;
}
